{% extends 'base.html' %} 
{% block content %}
<div class="flex flex-col lg:flex-row p-3">

  <div class="bg-red-600 dark:bg-blue-600 text-white lg:w-1/4 m-4">
    Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
  </div>

  <div class="bg-lime-600 dark:bg-amber-400 text-white lg:w-1/2 lg:h-screen m-4">I feel like i
    did the same thing both times when typing my password but one time it
    worked and the other time it didn't. guess i'll have to keep on
    practicing.. this is the div that i need to put the map into.</div>

  <div class="bg-sky-600 text-white lg:w-1/4 m-4">wla walk with me and then
    we strooled that golden sand and the summer wind, like painted kites those
    days and nights they went flying buy, umbrella sky, then softer than it
    called to you , i lost you to the summer win<d</div>

</div>


{% endblock %}
