{% extends 'base2.html' %} 
{% block content %}
<div class="container">
  <p>you became, it's quite a thing for me, it's okay, this disease is taking
  its' toll on everybody, when your dad died, I used to hting think that this
  thing that you and i have, and then when your dad died, you took care of me,
  yes it is the natural course, not that early, it was a lot to ask of you, it
  was too much, and that is why I couldn't make you the executor, you were my
  hero randall, you're the most incredible person and I will not hold you back
  anymore, hey, can i say something that sounds obnoxious but I can only say to
  you, if I run I'll win and I can't even imagine, I can see it clearly, I have
  to take this.</p>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<p>you became, it's quite a thing for me, it's okay, this disease is taking
  its' toll on everybody, when your dad died, I used to hting think that this
  thing that you and i have, and then when your dad died, you took care of me,
  yes it is the natural course, not that early, it was a lot to ask of you, it
  was too much, and that is why I couldn't make you the executor, you were my
  hero randall, you're the most incredible person and I will not hold you back
  anymore, hey, can i say something that sounds obnoxious but I can only say to
  you, if I run I'll win and I can't even imagine, I can see it clearly, I have
  to take this.</p>
  <!-- Main modal -->

</div>


{% endblock %}
