<!-- this is the original form produced by the form field -->
<div>
  <label for="id_courses_0">
    <input type="checkbox" name="courses" value="1" id="id_courses_0">
      bandon
  </label>
</div>
<div>
  <label for="id_courses_1">
    <input type="checkbox" name="courses" value="2" id="id_courses_1">
      pac
  </label>
</div>
<div>
  <label for="id_courses_2">
    <input type="checkbox" name="courses" value="3" id="id_courses_2">
      trails
  </label>
</div>
<div>    
  <label for="id_courses_3">
    <input type="checkbox" name="courses" value="4" id="id_courses_3">
      oldmac
  </label>

</div>
<div>
  <label for="id_courses_4">
    <input type="checkbox" name="courses" value="5" id="id_courses_4"> 
      sheep
  </label>
</div>

